.stack-container {
  position: relative;
  perspective: 600px;
  cursor: grab;
}

.stack-container:active {
  cursor: grabbing !important;
}

.card-rotate {
  position: absolute;
  cursor: grab !important;
}

.card-rotate:active {
  cursor: grabbing !important;
}

.card {
  border-radius: 20px;
  border: 6px solid #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: grab !important;
}

.card:active {
  cursor: grabbing !important;
}

.card-image {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 